<% include partials/header %>
<div class="container">
    <h1>View Cart</h1>
    <div class="panel panel-primary">

        <div class = "panel-heading">
            <h3 class = "panel-title">Shopping Cart Details</h3>
        </div>
        
        <div class = "panel-body">
            Shopping Cart
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price Details</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <% if (products !== null) {%>
                    <% products.forEach((product, index) => { %>
                        <tr>
                            <td>
                                    <a href="/add1/<%= product.item[0].id %>" class="btn btn-sm btn-success">+</a>
                                <a href="/reduce1/<%= product.item[0].id %>" class="btn btn-sm btn">-</a>
                                <a href="/removeCart/<%= product.item[0].id %>" class="btn btn-sm btn-danger">x</a>
                            </td>
                            <td><%= product.item[0].product_name %></td>
                            <td><%= product.qty %></td>
                            <td><%= product.item[0].price %></td>
                            <td>
                                <%= product.price %>
                            </td>
                        </tr>
                    <% }) %>
                        <tr colspan>
                            <th colspan="4" style="text-align:right">Total:           </td>
                            <td><%= totalPrice %></td>
                        </tr>
                <% } else { %>
                    <tr>
                        <p class="text-center">No products found.</p>
                    </tr>      
                <% } %>
            </tbody>
        </table>
        <div class="panel-footer">
            <span class="btn btn-link" style="margin: 12px">     </span>
            <div class="pull-right">
                <a href="/billing" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Checkout</a>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>